*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
html, body{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100vw;
    background-color: #F692EC;
    padding: 16px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;

}
header nav ul a {
    color: black;
    transition: 0.5s;
}
header nav ul a:hover{
    border-bottom: 2px solid white;
}

.grupo{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#natsuki{
    background-color: transparent; /* Deixe o fundo transparente */
    box-shadow: 
        inset 0 10vh #F692EC,  /* Borda superior do padding */
        inset 0 -10vh #F692EC; /* Borda inferior do padding */
    padding: 10vh 0;
}

.textos{
    justify-content: space-between;
    
}
.textos p{
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 18vh;
    margin-bottom: 10vh;
    font-size: 32px;
}
.textos p1{
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin-top: 100px;
}
.img img{
    height: 100%;
}
#sayori{
    display: flex;
    background-color: transparent; /* Deixe o fundo transparente */
    box-shadow: 
        inset 0 10vh #F692EC,  /* Borda superior do padding */
        inset 0 -10vh #F692EC; /* Borda inferior do padding */
    padding: 10vh 0;
}

.textosSayori{
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin-left: 12vh;
}

.textosSayori p{
    margin-top: 10vh;
    margin-bottom: 8vh;
}

.imgSayori img{
    margin-top: 10vh;
    margin-left: 15vh;
    height: 75%;
    right: 20px;
}
#yuri{
    display: flex;
    background-color: transparent; /* Deixe o fundo transparente */
    box-shadow: 
        inset 0 10vh #F692EC,  /* Borda superior do padding */
        inset 0 -10vh #F692EC; /* Borda inferior do padding */
    padding: 10vh 0;
}

.textosYuri{
    margin-top: 9vh;
    justify-content: center;
    align-items: center;
}
.textosYuri p{
    display: flex;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10vh;
    font-size: 32px;
    justify-content: center;
    flex-direction: row;
}

.textosYuri p1{
    display: flex;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    justify-content: center;
    flex-direction: row;
}

.imgYuri{
    margin-left: 10vh;
    margin-top: 10vh;
}

.imgYuri2{
    display: flex;
    height: 70%;
}
.imgYuri2 img{
    margin-top: 38vh;
    margin-left: 3vh;
    height: 75%;
}
#monika{
    display: flex;
    box-shadow: 
    inset 0 10vh #F692EC,  /* Borda superior do padding */
    inset 0 -10vh #F692EC; /* Borda inferior do padding */
    padding: 10vh 0;
}

.textosMonika{
    display: flex;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    flex-direction: column;
}

.textosMonika p{
    display: flex;
    margin-top: 30vh;
    margin-bottom: 5vh;
    margin-left: 5vh;
}

.textosMonika p1{
    margin-left: 5vh;
}
.imgMonika{
    margin-top: 5vh;
}

.imgMonika img{
    justify-content: center;
    align-items: center;
    height: 100%;
}

#death{
    background-color: purple;
    height: 100vh;
    width: 100vh;
}
